[submodule "ros_ws/src/gazebo_ros2_control"]
	path = ros_ws/src/gazebo_ros2_control
	url = https://github.com/ros-controls/gazebo_ros2_control.git
[submodule "ros_ws/src/micro_ros_agent"]
	path = ros_ws/src/micro_ros_agent
	url = https://github.com/micro-ROS/micro-ROS-Agent.git
[submodule "embedded_ws"]
	path = embedded_ws
	url = https://islamtagi@dev.azure.com/islamtagi/Pipe%20Swarm%20Project/_git/embedded_system
[submodule "mechanical_design"]
	path = mechanical_design
	url = git@ssh.dev.azure.com:v3/islamtagi/Pipe%20Swarm%20Project/mechanical_design