<?xml version="1.0"?>
<robot name="front_tof" xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <xacro:property name="front_tof_m" value="0.1" />  <!-- mass /kg -->
    <xacro:property name="front_tof_w" value="0.01" />  <!-- width /m -->
    <xacro:property name="front_tof_l" value="0.01" />  <!-- length /m -->
    <xacro:property name="front_tof_h" value="0.01" />  <!-- height /m -->
    
    <!-- LINKS -->
    <link name="${agent_namespace}_front_tof_link">
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="${front_tof_w} ${front_tof_l} ${front_tof_h}"/>
            </geometry>
            <material name="red">
                <color rgba="1 0 0 1"/>
            </material>
        </visual>
        
        <collision>
            <geometry>
                <box size="${front_tof_w} ${front_tof_l} ${front_tof_h}"/>
            </geometry>
        </collision>

        <xacro:box_inertial m="${front_tof_m}" w="${front_tof_w}" l="${front_tof_l}" h="${front_tof_h}" xyz="0 0 0 " rpy="0 0 0"/>
    </link>

    <!-- JOINTS -->
    <joint name="${agent_namespace}_base_front_tof_joint" type="fixed">
        <origin xyz="${(base_w/2)} ${-(base_l/2 - front_tof_l*2)} ${(base_h/2)}" rpy="${pi/2} 0 0"/>
        <parent link="${agent_namespace}_base_link"/>
        <child link="${agent_namespace}_front_tof_link"/>
    </joint>

</robot>