<?xml version="1.0"?>
<robot name="linkage" xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <xacro:property name="male_m" value="0.1" />  <!-- mass /kg -->
    <xacro:property name="male_w" value="0.04" />  <!-- width /m -->
    <xacro:property name="male_l" value="0.01" />  <!-- length /m -->
    <xacro:property name="male_h" value="0.01" />  <!-- height /m -->

    <xacro:property name="female_thickness_out" value="0.028" />  <!-- /m -->
    <xacro:property name="female_diameter" value="0.04" />  <!-- /m -->
    <xacro:property name="female_stopper_thickness" value="0.05" />  <!-- /m -->
    <xacro:property name="female_hole_depth" value="0.03" />  <!-- /m -->
    <xacro:property name="female_wall_thickness" value="0.01" />  <!-- /m -->
    <xacro:property name="female_hole_thickness" value="0.01" />  <!-- /m -->

    <xacro:macro name="female_rotation_shape">
            <origin xyz="0 0 0" rpy="${pi/2} 0 0"/>
            <geometry>
                <cylinder radius="${female_diameter/2}" length="${female_thickness_out}"/>
            </geometry>
    </xacro:macro>
    <xacro:macro name="female_stopper_shape">
            <origin xyz="${-female_stopper_thickness/2} 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="${female_stopper_thickness} ${female_thickness_out} ${female_diameter}"/>
            </geometry>
    </xacro:macro>
    <xacro:macro name="female_wall_shape" params="y_offset z_offset">
            <origin xyz="${-(female_stopper_thickness + female_hole_depth/2)} 
                        ${y_offset * (female_wall_thickness/2 + female_hole_thickness/2)} 
                        ${z_offset * (female_wall_thickness/2 + female_hole_thickness/2)}" 
                        rpy="0 0 0"/>
            <geometry>
                <box size="${female_hole_depth} ${female_wall_thickness} ${female_wall_thickness}"/>
            </geometry>
    </xacro:macro>

    
    <!-- LINKS -->
    <link name="${agent_namespace}_male_link">
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="${male_w} ${male_l} ${male_h}"/>
            </geometry>
            <material name="base">
                <color rgba="1.0 1.0 1.0 1.0"/>
            </material>
        </visual>
        
        <collision>
            <geometry>
                <box size="${male_w} ${male_l} ${male_h}"/>
            </geometry>
        </collision>

        <xacro:box_inertial m="${male_m}" w="${male_w}" l="${male_l}" h="${male_h}" xyz="0 0 0 " rpy="0 0 0"/>
    </link>

    <link name="${agent_namespace}_female_link">
        <visual>
            <xacro:female_rotation_shape />
            <material name="base">
                <color rgba="1.0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <visual>
            <xacro:female_stopper_shape />
            <material name="base">
                <color rgba="1.0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <visual>
            <xacro:female_wall_shape y_offset="0" z_offset="1"/>
            <material name="base">
                <color rgba="1.0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <visual>
            <xacro:female_wall_shape y_offset="1" z_offset="0"/>
            <material name="base">
                <color rgba="1.0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <visual>
            <xacro:female_wall_shape y_offset="-1" z_offset="0"/>
            <material name="base">
                <color rgba="1.0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <visual>
            <xacro:female_wall_shape y_offset="0" z_offset="-1"/>
            <material name="base">
                <color rgba="1.0 1.0 1.0 1.0"/>
            </material>
        </visual>
        
        <collision>
            <xacro:female_rotation_shape />
        </collision>
        <collision>
            <xacro:female_stopper_shape />
        </collision>
        <collision>
            <xacro:female_wall_shape y_offset="0" z_offset="1"/>
        </collision>
        <collision>
            <xacro:female_wall_shape y_offset="0" z_offset="-1"/>
        </collision>
        <collision>
            <xacro:female_wall_shape y_offset="1" z_offset="0"/>
        </collision>
        <collision>
            <xacro:female_wall_shape y_offset="-1" z_offset="0"/>
        </collision>

        <!-- TODO Fix inertia -->
        <xacro:box_inertial m="${male_m}" w="${male_w}" l="${male_l}" h="${male_h}" xyz="0 0 0 " rpy="0 0 0"/>
    </link>
    
    <!-- JOINTS -->
    <joint name="${agent_namespace}_base_male_joint" type="fixed">
        <origin xyz="${(base_w*0.5) + (male_w*0.5)} 0 0" rpy="0 0 0"/>
        <parent link="${agent_namespace}_base_link"/>
        <child link="${agent_namespace}_male_link"/>
    </joint>

    <joint name="${agent_namespace}_base_female_joint" type="revolute">
        <origin xyz="${-(base_w*0.5) + female_diameter/2} 0 0" rpy="0 0 0"/>
        <parent link="${agent_namespace}_base_link"/>
        <child link="${agent_namespace}_female_link"/>
        <axis xyz="0 1 0"/>
        <limit lower="${-pi/2}" upper="${pi/2}" effort="1.0" velocity="1.0"/>
    </joint>

    <!-- GAZEBO -->
    <gazebo reference="${agent_namespace}_female_link">
        <material>Gazebo/White</material>
    </gazebo>
    <gazebo reference="${agent_namespace}_male_link">
        <material>Gazebo/White</material>
    </gazebo>

    <gazebo>
        <plugin name="${agent_namespace}_control" filename="libgazebo_ros2_control.so">
            <robot_param_node>/${agent_namespace}/robot_state_publisher</robot_param_node> 
            <parameters>$(find pipe_swarm)/config/${agent_namespace}_controllers_sim.yaml</parameters>
            <ros>
                <namespace>${agent_namespace}</namespace>
            </ros>
        </plugin>
    </gazebo>

    <!-- ros2_control Plugin -->
    <ros2_control name="GazeboSystem" type="system">
        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>
        <joint name="${agent_namespace}_base_female_joint">
            <command_interface name="position">
                <param name="min">-pi/2</param>
                <param name="max">pi/2</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>
    </ros2_control>

</robot>