<?xml version="1.0"?>
<robot name="linkage" xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <xacro:property name="cover_m" value="0.1" />  <!-- mass /kg -->
    <xacro:property name="cover_w" value="0.029" />  <!-- width /m -->
    <xacro:property name="cover_h" value="0.024" />  <!-- height /m -->
    <xacro:property name="cover_l" value="0.024" />  <!-- length /m -->
    <xacro:property name="cover_o" value="0.0045" />  <!-- offset /m -->
    <xacro:property name="cover_out" value="0.0015" />  <!-- extruded cover /m -->
    
    <xacro:property name="male_m" value="0.1" />  <!-- mass /kg -->
    <xacro:property name="male_w" value="0.014" />  <!-- width /m -->
    <xacro:property name="male_h" value="0.0128" />  <!-- length /m -->
    <xacro:property name="male_l" value="0.0054" />  <!-- height /m -->
    <xacro:property name="male_o" value="0.007" />  <!-- offset /m -->

    <xacro:property name="pivot_m" value="0.1" />  <!-- mass /kg -->
    <xacro:property name="pivot_w" value="0.035" />  <!-- width /m -->
    <xacro:property name="pivot_h" value="0.024" />  <!-- height /m -->
    <xacro:property name="pivot_l" value="0.055" />   <!-- length /m -->
    <xacro:property name="pivot_o" value="0.0075" />  <!-- offset /m -->
    
    <xacro:property name="female_m" value="0.1" />  <!-- mass /kg -->
    <xacro:property name="female_w" value="0.02" />  <!-- width /m -->
    <xacro:property name="female_h" value="0.024" />  <!-- height /m -->
    <xacro:property name="female_l" value="0.024" />   <!-- length /m -->
    
    <xacro:property name="lock_o" value="0.01" />  <!-- offset /m -->

    <!-- LINKS -->
    <link name="${agent_namespace}_male_link">
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 ${pi/2} ${-pi/2}"/>
            <geometry>
                <mesh filename="package://pipe_swarm/models/hollow_pipe/meshes/key.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="base">
                <color rgba="1.0 1.0 1.0 1.0"/>
            </material>
        </visual>
        
        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 ${pi/2} ${-pi/2}"/>
            <geometry>
                <mesh filename="package://pipe_swarm/models/hollow_pipe/meshes/key.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>

        <xacro:box_inertial m="${male_m}" w="${male_w}" l="${male_l}" h="${male_h}" xyz="${-male_w/2} 0 0 " rpy="0 0 0"/>
    </link>

    <link name="${agent_namespace}_cover_link">
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="${pi/2} 0.0 ${pi/2}"/>
            <geometry>
                <mesh filename="package://pipe_swarm/models/hollow_pipe/meshes/cover.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="base">
                <color rgba="1.0 1.0 1.0 1.0"/>
            </material>
        </visual>
        
        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="${pi/2} 0.0 ${pi/2}"/>
            <geometry>
                <mesh filename="package://pipe_swarm/models/hollow_pipe/meshes/cover.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>

        <xacro:box_inertial m="${cover_m}" w="${cover_w}" l="${cover_l}" h="${cover_h}" xyz="${-cover_o} 0 0 " rpy="0 0 0"/>
    </link>


    <link name="${agent_namespace}_female_link">
       <visual>
            <origin xyz="${-female_w/2} 0 0" rpy="0.0 ${pi/2} ${pi/2}"/>
            <geometry>
                <mesh filename="package://pipe_swarm/models/hollow_pipe/meshes/lock_sim.stl" scale="0.001 0.001 0.001"/> <!-- no chamfer-->
            </geometry>
            <material name="base">
                <color rgba="1.0 1.0 1.0 1.0"/>
            </material>
        </visual>
        
        <collision>
            <origin xyz="${-female_w/2} 0 0" rpy="0.0 ${pi/2} ${pi/2}"/>
            <geometry>
                <mesh filename="package://pipe_swarm/models/hollow_pipe/meshes/lock_sim.stl" scale="0.001 0.001 0.001"/> <!-- no chamfer-->
            </geometry>
        </collision>

        <xacro:box_inertial m="${female_m}" w="${female_w}" l="${female_l}" h="${female_h}" xyz="0 0 0" rpy="0 0 0"/>
    </link>

    <link name="${agent_namespace}_pivot_link">
       <visual>
            <origin xyz="0 ${pivot_l/2} 0" rpy="${pi/2} 0.0 ${-pi/2}"/>
            <geometry>
                <mesh filename="package://pipe_swarm/models/hollow_pipe/meshes/pivot.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="base">
                <color rgba="1.0 1.0 1.0 1.0"/>
            </material>
        </visual>
        
        <collision>
            <origin xyz="0 ${pivot_l/2} 0" rpy="${pi/2} 0.0 ${-pi/2}"/>
            <geometry>
                <mesh filename="package://pipe_swarm/models/hollow_pipe/meshes/pivot.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>

        <xacro:box_inertial m="${pivot_m}" w="${pivot_w}" l="${pivot_l}" h="${pivot_h}" xyz="${-pivot_w/2 + pivot_o} 0 0" rpy="0 0 0"/>
    </link>
    
    <!-- JOINTS -->
    <joint name="${agent_namespace}_base_cover_joint" type="fixed">
        <origin xyz="${(base_w*0.5) - cover_o + cover_out} 0.0 0.0" rpy="0 0 0"/>
        <parent link="${agent_namespace}_base_link"/>
        <child link="${agent_namespace}_cover_link"/>
    </joint>

    <joint name="base_male_joint" type="revolute">
        <origin xyz="${(base_w*0.5)+male_o} 0.0 0.0" rpy="0 0 0"/>
        <parent link="${agent_namespace}_base_link"/>
        <child link="${agent_namespace}_male_link"/>
        <axis xyz="1 0 0"/>
        <limit lower="0.0" upper="${pi/2}" effort="1.0" velocity="1.0"/>
    </joint>

    <joint name="base_female_joint" type="revolute">
        <origin xyz="${-(base_w*0.5)+lock_o} 0 0" rpy="0 0 0"/>
        <parent link="${agent_namespace}_base_link"/>
        <child link="${agent_namespace}_pivot_link"/>
        <axis xyz="0 1 0"/>
        <limit lower="${-pi/4}" upper="${pi/4}" effort="0.5" velocity="0.5"/>
    </joint>
    
    <joint name="${agent_namespace}_base_neutral_joint" type="fixed">
        <origin xyz="${-lock_o-pivot_l/2} 0 0.0" rpy="0 0 0"/>
        <parent link="${agent_namespace}_pivot_link"/>
        <child link="${agent_namespace}_female_link"/>
    </joint>

</robot>