<?xml version="1.0"?>
<robot name="modular_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- Correct include syntax -->
    <xacro:include filename="pipe_robot.xacro"/>
    
    <!-- Call pipe_robot with agent_namespace -->
    <xacro:pipe_robot namespace="agent_n" base_agent="agent_n" include_gazebo="true"/>
    <xacro:pipe_robot namespace="agent_n2" base_agent="agent_n" include_gazebo="true"/>

    <link name="agent_n_footprint" />

    <joint name="agent_n_footprint_joint" type="fixed">
        <parent link="agent_n_footprint"/>
        <child link="agent_n_female_link"/>
    </joint>

    <!-- <joint name="agent_n2_footprint_joint" type="fixed">
        <parent link="footprint_link"/>
        <child link="agent_n2_footprint_link"/>
    </joint> -->

    <joint name="agent_n_agent_n2_joint" type="fixed">
        <origin xyz="${-(0.04*0.5) + 0.1} 0 0" rpy="0 0 0"/>
        <parent link="agent_n_male_link"/>
        <child link="agent_n2_female_link"/>
    </joint>

</robot>