<?xml version="1.0"?>
<robot name="tof_lidar" xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <xacro:property name="lidar_m" value="0.1" />  <!-- mass /kg -->
    <xacro:property name="lidar_w" value="0.01" />  <!-- width /m -->
    <xacro:property name="lidar_l" value="0.01" />  <!-- length /m -->
    <xacro:property name="lidar_h" value="0.01" />  <!-- height /m -->
    
    <!-- LINKS -->
    <link name="${agent_namespace}_lidar_link">
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="${lidar_w} ${lidar_l} ${lidar_h}"/>
            </geometry>
            <material name="red">
                <color rgba="1 0 0 1"/>
            </material>
        </visual>
        
        <collision>
            <geometry>
                <box size="${lidar_w} ${lidar_l} ${lidar_h}"/>
            </geometry>
        </collision>

        <xacro:box_inertial m="${lidar_m}" w="${lidar_w}" l="${lidar_l}" h="${lidar_h}" xyz="0 0 0 " rpy="0 0 0"/>
    </link>

    <!-- JOINTS -->
    <joint name="${agent_namespace}_base_lidar_joint" type="fixed">
        <origin xyz="${(base_w*0.5)} ${-(base_l*0.5 - lidar_l*0.5)} ${(base_h*0.5)}" rpy="${pi/2} 0 0"/>
        <parent link="${agent_namespace}_base_link"/>
        <child link="${agent_namespace}_lidar_link"/>
    </joint>

</robot>