<?xml version="1.0"?>
<robot name="wheels" xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <xacro:property name="wheel_m" value="0.1" />  <!-- mass /kg -->
    <xacro:property name="wheel_r" value="0.0175" />  <!-- radius /m -->
    <xacro:property name="wheel_l" value="0.01" />  <!-- length /m -->
    <xacro:property name="wheel_y_offset" value="0.002" />  <!-- length /m -->
    <xacro:property name="wheel_x_offset_front" value="0.012" />  <!-- length /m -->
    <xacro:property name="wheel_x_offset_back" value="0.008" />  <!-- length /m -->

    <xacro:macro name="wheel_link" params="prefix">
        <link name="${agent_namespace}_wheel_${prefix}_left_link">
            <visual>
                <origin xyz="0.0 0.0 0.0" rpy="0 0.0 0.0"/>
                <geometry>
                    <mesh filename="package://pipe_swarm/models/hollow_pipe/meshes/wheel.stl" scale="0.001 0.001 0.001"/>
                    <!-- <cylinder radius="${wheel_r}" length="${wheel_l}"/> -->
                </geometry>
                <material name="wheel">
                    <color rgba="0 0 0 1.0"/>
                </material>
            </visual>
            
            <collision>
                <origin xyz="0.0 0.0 0.0" rpy="0 0.0 0.0"/>
                <geometry>
                    <mesh filename="package://pipe_swarm/models/hollow_pipe/meshes/wheel.stl" scale="0.001 0.001 0.001"/>
                    <!-- <cylinder radius="${wheel_r}" length="${wheel_l}"/> -->
                </geometry>
            </collision>

            <xacro:cylinder_solid_inertial m="${wheel_m}" r="${wheel_r}" l="${wheel_l}" xyz="0 0 0 " rpy="0 0 0"/>
        </link>
        
        <link name="${agent_namespace}_wheel_${prefix}_right_link">
            <visual>
                <origin xyz="0.0 0.0 0.0" rpy="0 0.0 0.0"/>
                <geometry>
                    <mesh filename="package://pipe_swarm/models/hollow_pipe/meshes/wheel.stl" scale="0.001 0.001 0.001"/>
                    <!-- <cylinder radius="${wheel_r}" length="${wheel_l}"/> -->
                </geometry>
                <material name="wheel">
                    <color rgba="0 0 0 1.0"/>
                </material>
            </visual>
            
            <collision>
                <origin xyz="0.0 0.0 0.0" rpy="0 0.0 0.0"/>
                <geometry>
                    <mesh filename="package://pipe_swarm/models/hollow_pipe/meshes/wheel.stl" scale="0.001 0.001 0.001"/>
                    <!-- <cylinder radius="${wheel_r}" length="${wheel_l}"/> -->
                </geometry>
            </collision>

            <xacro:cylinder_solid_inertial m="${wheel_m}" r="${wheel_r}" l="${wheel_l}" xyz="0 0 0 " rpy="0 0 0"/>
        </link>
    </xacro:macro>

    <!-- LINKS -->
    <xacro:wheel_link prefix="front" />
    <xacro:wheel_link prefix="back" />


    <!-- JOINTS -->
    <joint name="${agent_namespace}_base_wheel_front_right_joint" type="continuous">
        <origin xyz="${(base_w)/2 - wheel_x_offset_front} ${-((base_l/2) + wheel_y_offset)} ${-base_h/2}" rpy="${-pi/2} 0 0"/>
        <parent link="${agent_namespace}_base_link"/>
        <child link="${agent_namespace}_wheel_front_right_link"/>
        <axis xyz="0 0 1"/>
    </joint>
    
    <joint name="${agent_namespace}_base_wheel_front_left_joint" type="continuous">
        <origin xyz="${(base_w)/2 - wheel_x_offset_front} ${(base_l/2) + wheel_y_offset} ${-base_h/2}" rpy="${pi/2} 0 0"/>
        <parent link="${agent_namespace}_base_link"/>
        <child link="${agent_namespace}_wheel_front_left_link"/>
        <axis xyz="0 0 -1"/>
    </joint>
    
    <joint name="${agent_namespace}_base_wheel_back_right_joint" type="continuous">
        <origin xyz="${-((base_w)/2 - wheel_x_offset_back)} ${-((base_l/2) + wheel_y_offset)} ${-base_h/2}" rpy="${-pi/2} 0 0"/>
        <parent link="${agent_namespace}_base_link"/>
        <child link="${agent_namespace}_wheel_back_right_link"/>
        <axis xyz="0 0 1"/>
        <!-- <mimic joint="${agent_namespace}_base_wheel_front_right_joint" multiplier="1.0"/> -->
    </joint>

    <joint name="${agent_namespace}_base_wheel_back_left_joint" type="continuous">
        <origin xyz="${-((base_w)/2 - wheel_x_offset_back)} ${(base_l/2) + wheel_y_offset} ${-base_h/2}" rpy="${pi/2} 0 0"/>
        <parent link="${agent_namespace}_base_link"/>
        <child link="${agent_namespace}_wheel_back_left_link"/>
        <axis xyz="0 0 -1"/>
        <!-- <mimic joint="${agent_namespace}_base_wheel_front_left_joint" multiplier="1.0"/> -->
    </joint>

</robot>