<?xml version="1.0"?>
<robot name="gazebo_camera" xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <!-- GAZEBO -->
    <gazebo reference="${agent_namespace}_camera_link">
        <material>Gazebo/Green</material>
        <sensor name="camera_sensor" type="camera">
            <pose>0 0 0 0 0 0</pose>
            <visualize>true</visualize>
            <update_rate>10.0</update_rate> <!--update /Hz -->
            <camera>
                <horizontal_fov>0.04</horizontal_fov>
                <image>
                    <width>480</width>
                    <height>640</height>
                    <format>R8G8B8</format>
                    <fps>10</fps>
                </image>
                <clip>
                    <near>0.01</near>
                    <far>0.6</far>
                </clip>
            </camera>
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <ros>
                    <namespace>${agent_namespace}</namespace>
                </ros>
                <frame_name>${agent_namespace}_camera_link</frame_name>
            </plugin>
        </sensor>
    </gazebo>

</robot>