<?xml version="1.0"?>
<robot name="gazebo_obstacle" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- GAZEBO -->
    <gazebo reference="${agent_namespace}_obstacle_link">
        <material>Gazebo/Red</material>
    </gazebo>

    <gazebo reference="${agent_namespace}_white_box_1_link">
        <material>Gazebo/White</material>
    </gazebo>

    <gazebo reference="${agent_namespace}_white_box_2_link">
        <material>Gazebo/White</material>
    </gazebo>

</robot>