<?xml version="1.0" ?>
<robot name="gazebo_mobile_base" xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <!-- GAZEBO -->
    <gazebo reference="${agent_namespace}_footprint_link">
        <material>Gazebo/Grey</material>
    </gazebo>
    <gazebo reference="${agent_namespace}_base_link">
        <material>Gazebo/Grey</material>
    </gazebo>

</robot>