<?xml version="1.0"?>
<robot name="gazebo_tof" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- GAZEBO -->
    <gazebo reference="${agent_namespace}_right_tof_link">
        <material>Gazebo/Green</material>
        <sensor name="${agent_namespace}_right_tof_sensor" type="ray">
            <pose>0 0 0 0 0 0</pose>
            <visualize>true</visualize>
            <update_rate>10.0</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>10</samples>
                        <resolution>1</resolution>
                    </horizontal>
                </scan>
                <range>
                    <min>0.1</min>
                    <max>10.0</max>
                    <resolution>0.01</resolution>
                </range>
            </ray>
            <plugin name="${agent_namespace}_right_tof_controller" filename="libgazebo_ros_ray_sensor.so">
                <ros>
                    <namespace>${agent_namespace}</namespace>
                    <remapping>~/out:=right_infrared_range</remapping>
                </ros>
                <output_type>sensor_msgs/Range</output_type>
                <radiation_type>infrared</radiation_type>
                <frame_name>${agent_namespace}_right_tof_link</frame_name>
            </plugin>
        </sensor>
    </gazebo>

    <gazebo reference="${agent_namespace}_left_tof_link">
        <material>Gazebo/Green</material>
        <sensor name="${agent_namespace}_left_tof_sensor" type="ray">
            <pose>0 0 0 0 0 0</pose>
            <visualize>true</visualize>
            <update_rate>10.0</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>10</samples>
                        <resolution>1</resolution>
                    </horizontal>
                </scan>
                <range>
                    <min>0.1</min>
                    <max>10.0</max>
                    <resolution>0.01</resolution>
                </range>
            </ray>
            <plugin name="${agent_namespace}_left_tof_controller" filename="libgazebo_ros_ray_sensor.so">
                <ros>
                    <namespace>${agent_namespace}</namespace>
                    <remapping>~/out:=left_infrared_range</remapping>
                </ros>
                <output_type>sensor_msgs/Range</output_type>
                <frame_name>${agent_namespace}_left_tof_link</frame_name>
                <radiation_type>infrared</radiation_type>
            </plugin>
        </sensor>
    </gazebo>

</robot>