<?xml version="1.0"?>
<robot name="linkage" xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <xacro:property name="male_m" value="0.3" />  <!-- mass /kg -->
    <xacro:property name="male_w" value="0.04" />  <!-- width /m -->
    <xacro:property name="male_h" value="0.005" />  <!-- height /m -->
    <xacro:property name="male_l" value="0.005" />  <!-- length /m -->
    <xacro:property name="male_o" value="0.007" />  <!-- offset /m -->

    
    <xacro:property name="female_diameter" value="0.04" />  <!-- /m -->
    <xacro:property name="female_stopper_width" value="0.05" />  <!-- /m -->
    <xacro:property name="female_hole_depth" value="0.03" />  <!-- /m -->
    <xacro:property name="female_wall_thickness" value="0.01" />  <!-- /m -->
    <xacro:property name="female_hole_thickness" value="0.01" />  <!-- /m -->
    
    <xacro:property name="female_m" value="0.1" />  <!-- mass /kg -->
    <xacro:property name="female_w" value="${(female_diameter/2) + female_stopper_width + female_hole_depth}" />  <!-- width /m -->
    <xacro:property name="female_h" value="${female_diameter}" />  <!-- height /m -->
    <xacro:property name="female_l" value="0.028" />  <!-- length /m -->
    
    <xacro:property name="pivot_w" value="0.027" />  <!-- length /m -->
    <xacro:property name="pivot_l" value="0.055" />  <!-- length /m -->
    <xacro:property name="pivot_o" value="0.01" />  <!-- offset from centre of robot /m -->
    <xacro:property name="lock_w" value="0.02" />  <!-- width /m -->
    <xacro:property name="cover_o" value="0.003" />  <!-- offset /m -->

    <!-- LINKS -->
    <link name="${agent_namespace}_male_link">
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 ${pi/2} ${-pi/2}"/>
            <geometry>
                <mesh filename="package://modular_robot/meshes/key.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="base">
                <color rgba="1.0 1.0 1.0 1.0"/>
            </material>
        </visual>
        
        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 ${pi/2} ${-pi/2}"/>
            <geometry>
                <mesh filename="package://modular_robot/meshes/key.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>

        <xacro:box_inertial m="${male_m}" w="${male_w}" l="${male_l}" h="${male_h}" xyz="0 0 0 " rpy="0 0 0"/>
    </link>

    <link name="${agent_namespace}_cover_link">
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="${pi/2} 0.0 ${pi/2}"/>
            <geometry>
                <mesh filename="package://modular_robot/meshes/cover.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="base">
                <color rgba="1.0 1.0 1.0 1.0"/>
            </material>
        </visual>
        
        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="${pi/2} 0.0 ${pi/2}"/>
            <geometry>
                <mesh filename="package://modular_robot/meshes/cover.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>

        <xacro:box_inertial m="${male_m}" w="${male_w}" l="${male_l}" h="${male_h}" xyz="0 0 0 " rpy="0 0 0"/>
    </link>

    <link name="${agent_namespace}_female_link">
       <visual>
            <origin xyz="${-lock_w/2} 0 0" rpy="0.0 ${pi/2} ${pi/2}"/>
            <geometry>
                <mesh filename="package://modular_robot/meshes/lock.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="base">
                <color rgba="1.0 1.0 1.0 1.0"/>
            </material>
        </visual>
        
        <collision>
            <origin xyz="${-lock_w/2} 0 0" rpy="0.0 ${pi/2} ${pi/2}"/>
            <geometry>
                <mesh filename="package://modular_robot/meshes/lock.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>

    <link name="${agent_namespace}_pivot_link">
       <visual>
            <origin xyz="0 ${pivot_l/2} 0" rpy="${pi/2} 0.0 ${-pi/2}"/>
            <geometry>
                <mesh filename="package://modular_robot/meshes/pivot.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="base">
                <color rgba="1.0 1.0 1.0 1.0"/>
            </material>
        </visual>
        
        <collision>
            <origin xyz="0 ${pivot_l/2} 0" rpy="${pi/2} 0.0 ${-pi/2}"/>
            <geometry>
                <mesh filename="package://modular_robot/meshes/pivot.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>

        <xacro:box_inertial m="${female_m}" w="0.05" l="0.05" h="0.05" xyz="0 0 0" rpy="0 0 0"/>
    </link>
    
    <!-- JOINTS -->
    <joint name="${agent_namespace}_base_male_joint" type="fixed">
        <origin xyz="${base_w - 0.02 + male_o} 0 ${pivot_o}" rpy="0 0 0"/>
        <parent link="${agent_namespace}_base_link"/>
        <child link="${agent_namespace}_male_link"/>
    </joint>

    <joint name="${agent_namespace}_base_cover_joint" type="fixed">
        <origin xyz="${base_w - 0.02 + cover_o } 0 ${pivot_o}" rpy="0 0 0"/>
        <parent link="${agent_namespace}_base_link"/>
        <child link="${agent_namespace}_cover_link"/>
    </joint>

    <joint name="${agent_namespace}_female_pivot_joint" type="fixed">
        <origin xyz="${(pivot_w) + (lock_w/2)} 0 0" rpy="0 0 0"/>
        <parent link="${agent_namespace}_female_link"/>
        <child link="${agent_namespace}_pivot_link"/>
    </joint>

    <joint name="${agent_namespace}_pivot_base_joint" type="revolute">
        <origin xyz="${0.02-pivot_o} 0 ${-pivot_o}" rpy="0 0 0"/>
        <parent link="${agent_namespace}_pivot_link"/>
        <child link="${agent_namespace}_base_link"/>
        <axis xyz="0 1 0"/>
        <limit lower="${-pi/4}" upper="${pi/4}" effort="1.0" velocity="1.0"/>
        <dynamics damping="0.3" friction="0.5"/>
    </joint>

</robot>