<?xml version="1.0"?>
<robot name="modular_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="pipe_robot.xacro"/>
    <xacro:property name="include_gazebo" value="false" />
    
    <link name="footprint_link" />

    <!-- Call pipe_robot with agent_namespace -->
    <xacro:pipe_robot agent_namespace="agent_n" include_gazebo="true" first_link="true"/>
    <xacro:pipe_robot agent_namespace="agent_n2" include_gazebo="true" first_link="false"/>
    <xacro:pipe_robot agent_namespace="agent_n3" include_gazebo="true" first_link="false"/>

    <xacro:unless value="${include_gazebo}">
        <link name="world" />

        <joint name="mobile_joint" type="prismatic">
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <parent link="world"/>
            <child link="footprint_link"/>
            <axis xyz="1 0 0"/>
            <limit lower="-1.0" upper="1.0" effort="100" velocity="1.0"/>
        </joint>
    </xacro:unless>

    <joint name="footprint_agent_n_joint" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <parent link="footprint_link"/>
        <child link="agent_n_base_link"/>
    </joint>

    <joint name="agent_n_agent_n2_joint" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <parent link="agent_n_male_link"/>
        <child link="agent_n2_female_link"/>
    </joint>

    <joint name="agent_n2_agent_n3_joint" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <parent link="agent_n2_male_link"/>
        <child link="agent_n3_female_link"/>
    </joint>

    <gazebo>
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
            <robot_param_node>robot_state_publisher</robot_param_node> 
            <parameters>$(find modular_robot)/config/modular_controller.yaml</parameters>
        </plugin>
    </gazebo>

    <!-- ros2_control Plugin -->
    <xacro:if value="${include_gazebo}">
        <ros2_control name="GazeboSimSystem" type="system">
            <hardware>
                <plugin>gazebo_ros2_control/GazeboSystem</plugin>
            </hardware>
            <joint name="agent_n2_pivot_base_joint">
                <command_interface name="position">
                    <param name="min">-pi/2</param>
                    <param name="max">pi/2</param>
                </command_interface>
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="agent_n3_pivot_base_joint">
                <command_interface name="position">
                    <param name="min">-pi/2</param>
                    <param name="max">pi/2</param>
                </command_interface>
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
        </ros2_control>
    </xacro:if>

</robot>